---
name: run on master

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  prerelease:
    strategy:
      matrix:
        operating-system: [ubuntu-20.04, windows-2019, macOS-10.14]
    runs-on: ${{ matrix.operating-system }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: gather versions
        uses: ./.github/actions/parse-asdf
        id: versions

      - name: install Go
        uses: actions/setup-go@v1
        with: 
          go-version: "${{ env.GOLANG_VERSION }}"

      - name: Run tests
        run: go test -v

      - name: Build the CLI
        run: go build --ldflags "-X main.version=${{ matrix.operating-system }}.${{ github.run_id }}.${{ github.run_number }}"

      - uses: actions/upload-artifact@v2
        if: "startsWith(runner.os, 'Linux') || startsWith(runner.os, 'macOS')"
        with:
          name: "artifact-${{ matrix.operating-system }}.${{ github.run_id }}.${{ github.run_number }}"
          path: ./2ami

      - uses: actions/upload-artifact@v2
        if: "startsWith(runner.os, 'Windows')"
        with:
          name: "artifact-${{ matrix.operating-system }}.${{ github.run_id }}.${{ github.run_number }}"
          path: ./2ami.exe
